<div class='flex flex-col items-center p-4' {{did-insert this.waitForConfig}}>
  {{#if @model.config}}
    <ConfigStatus
      @config={{@model.config}}
      @configUpdated={{@model.configUpdated}}
      @scheduleRule={{@model.scheduleRule}}
      @selectNewConfig={{this.selectNewConfig}}
    />
  {{else}}
    <WithoutConfig @selectNewConfig={{this.selectNewConfig}} />
  {{/if}}
</div>