<div class='space-y-2'>
  <h2 class='font-semibold text-gray-700'>
    Sync Rules
  </h2>

  <ul class='grid grid-cols-1 gap-4'>
    {{#each this.syncRules key='id' as |rule|}}
      <li class='bg-white shadow-lg rounded-lg'>
        <Rule::Card
          @rule={{rule}}
          @datasets={{@model.community.datasets}}
          @sources={{this.sources}}
          @onEdit={{queue
            (set this.isEditRuleOpen true)
            (set this.ruleEditing)
          }}
        />
      </li>
    {{/each}}

    <li class='bg-white rounded-lg p-4 flex items-center justify-center'>
      <div class='grid grid-cols-2 gap-2'>
        <Button
          @intent='primary'
          {{on 'click' (set this.isCreateRuleOpen true)}}
        >
          Add New Sync Rule
        </Button>

        <Button
          @intent='primary'
          {{on 'click' (set this.isSyncSourceOpen true)}}
        >
          Add New Source
        </Button>
      </div>
    </li>
  </ul>
</div>

<Rule::CreateModal
  @isOpen={{this.isCreateRuleOpen}}
  @onClose={{set this.isCreateRuleOpen false}}
  @onSubmit={{pipe (set this.syncRules) (set this.isCreateRuleOpen false)}}
  @datasets={{@model.community.datasets}}
  @sources={{this.sources}}
/>

<Rule::EditModal
  @isOpen={{this.isEditRuleOpen}}
  @onClose={{pipe
    (set this.isEditRuleOpen false)
    (set this.ruleEditing undefined)
  }}
  @onSubmit={{pipe (set this.syncRules) (set this.isEditRuleOpen false)}}
  @onDelete={{set this.syncRules}}
  @rule={{this.ruleEditing}}
  @sources={{this.sources}}
/>

<Source::CreateModal
  @isOpen={{this.isSyncSourceOpen}}
  @onClose={{set this.isSyncSourceOpen false}}
  @onSubmit={{pipe (set this.sources) (set this.isSyncSourceOpen false)}}
  @onDelete={{set this.sources}}
  @sources={{this.sources}}
/>