<div class='space-y-2'>
  <h2 class='font-semibold text-gray-700'>
    Sync Rules
  </h2>

  <ul class='grid grid-cols-1 gap-4'>
    {{#each (or this.syncRules @model.syncRules) as |rule|}}
      <Rule::Card
        @rule={{rule}}
        @sources={{@model.sources}}
        @onEdit={{queue (set this.isEditRuleOpen true) (set this.ruleEditing)}}
      />
    {{/each}}

    <li class='bg-white rounded-lg p-4 flex items-center justify-center'>
      <div class='grid grid-cols-2 gap-2'>
        <Button
          @intent='primary'
          {{on 'click' (set this.isCreateRuleOpen true)}}
        >
          Add New Sync Rule
        </Button>

        <Button
          @intent='primary'
          {{on 'click' (set this.isSyncSourceOpen true)}}
        >
          Add New Source
        </Button>
      </div>
    </li>
  </ul>
</div>

<Rule::CreateModal
  @isOpen={{this.isCreateRuleOpen}}
  @onClose={{set this.isCreateRuleOpen false}}
  @onSubmit={{pipe (set this.syncRules) (set this.isCreateRuleOpen false)}}
  @datasets={{@model.community.datasets}}
  @sources={{or this.sources @model.sources}}
/>

<Rule::EditModal
  @isOpen={{this.isEditRuleOpen}}
  @onClose={{pipe
    (set this.isEditRuleOpen false)
    (set this.ruleEditing undefined)
  }}
  @onSubmit={{set this.test}}
  @rule={{this.ruleEditing}}
/>

<Source::CreateModal
  @isOpen={{this.isSyncSourceOpen}}
  @onClose={{set this.isSyncSourceOpen false}}
  @onSubmit={{pipe (set this.sources) (set this.isSyncSourceOpen false)}}
  @sources={{or this.sources @model.sources}}
/>