<div class='space-y-2'>
  <h2 class='font-semibold text-gray-700'>
    Sync Rules
  </h2>

  <ul class='grid grid-cols-1 gap-4'>
    {{#each @model.syncRules as |rule|}}
      <li class='bg-white shadow-lg rounded-lg'>
        <div class='p-4 block'>
          {{rule.datasetId}}: {{rule.mappingId}}
        </div>
      </li>
    {{/each}}

    <li class='bg-white rounded-lg p-4 flex items-center justify-center'>
      <div class='grid grid-cols-2 gap-2'>
        <Button
          @intent='primary'
          {{on 'click' (set this.isCreateRuleOpen true)}}
        >
          Add New Sync Rule
        </Button>

        <Button
          @intent='primary'
          {{on 'click' (set this.isSyncSourceOpen true)}}
        >
          Add New Source
        </Button>
      </div>
    </li>
  </ul>
</div>

<Modal
  @isOpen={{this.isCreateRuleOpen}}
  @onClose={{set this.isCreateRuleOpen false}} as |m|
>
  <m.Header>
    New Sync Rule
  </m.Header>

  <ChangesetForm
    @changeset={{changeset (hash)}}
    @onSubmit={{this.createRule}} as |Form changeset|
  >
    <m.Body>
      <Form.Select
        @label='Dataset'
        @fieldName='dataset'
        @options={{@model.community.datasets}}
        @containerClass='mt-4' as |dataset|
      >
        {{dataset.name}}
      </Form.Select>

      {{#if changeset.dataset}}
        {{did-insert (perform this.findDataset changeset.dataset.id)}}
        {{#if this.findDataset.isRunning}}
          Loading dataset config..
        {{else if this.dataset}}
          <Form.Select
            @label='Mapping'
            @fieldName='mapping'
            @options={{this.mappings}}
            @containerClass='mt-4' as |mapping|
          >
            {{mapping.name}}
          </Form.Select>
        {{/if}}
      {{/if}}

      {{#if changeset.mapping}}
        <Form.Select
          @label='Source'
          @fieldName='source'
          @options={{@model.sources}}
          @containerClass='mt-4' as |source|
        >
          {{source.name}} ({{source.sourceType}})
        </Form.Select>
      {{/if}}

      {{#if changeset.source}}
        {{#if (eq changeset.source.sourceType 'database')}}
          <Form.Textarea
            @label='Select Statement'
            @fieldName='selectStatement'
            @containerClass='mt-4'
            rows='5'
          />
        {{else if (eq changeset.source.sourceType 'file')}}
          <Form.Input
            @label='File'
            @fieldName='file'
            type='file'
            @containerClass='mt-4'
          />
        {{/if}}
      {{/if}}
    </m.Body>

    <m.Footer class='flex justify-between'>
      <Button
        @appearance='minimal'
        class='mr-4'
        {{on 'click' (set this.isCreateRuleOpen false)}}
      >
        Cancel
      </Button>
      <Button @type='submit' @intent='primary'>
        Create Rule
      </Button>
    </m.Footer>
  </ChangesetForm>
</Modal>

<Modal
  @isOpen={{this.isSyncSourceOpen}}
  @onClose={{set this.isSyncSourceOpen false}} as |m|
>
  <m.Header>
    Sync Sources
  </m.Header>

  <m.Body>
    <ul class='grid grid-cols-1 gap-2'>
      {{#each @model.sources as |source|}}
        <li class='bg-white shadow-lg rounded-lg'>
          <div class='p-4 flex justify-between'>
            <div>
              {{source.name}} ({{source.sourceType}})
            </div>
            <Button @intent='warning' @appearance='minimal' @size='xs'>
              Delete
            </Button>
          </div>
        </li>
      {{/each}}
    </ul>

    <hr />

    {{#if this.isAddSourceVisible}}
      <ChangesetForm
        class='mt-4'
        @changeset={{changeset (hash)}}
        @onSubmit={{this.createSource}} as |Form changeset|
      >
        <Form.Input
          @label='Name'
          @fieldName='name'
          @containerClass='mt-4'
          placeholder='Test Database'
        />

        <Form.RadioGroup
          @fieldName='sourceType'
          @label='Source Type'
          @containerClass='mt-4' as |Radio|
        >
          <Radio @label='Database' @value='database' />
          <Radio @label='File' @value='file' />
        </Form.RadioGroup>

        {{#if (eq changeset.sourceType 'database')}}
          <Form.Select
            @label='Database Type'
            @fieldName='databaseType'
            @options={{this.databaseTypes}}
            @containerClass='mt-4' as |db|
          >
            {{db}}
          </Form.Select>

          {{#if changeset.databaseType}}
            <Form.Input
              @label='Connection String'
              @fieldName='connectionString'
              @containerClass='mt-4'
              placeholder='host=HOST port=5432 dbname=YOUR_DB connect_timeout=10'
            />
          {{/if}}
        {{else if (eq changeset.sourceType 'file')}}
          <Form.Input
            @label='Folder'
            @fieldName='folder'
            @containerClass='mt-4'
            type='file'
            webkitdirectory
          />
        {{/if}}

        <Button
          @type='submit'
          @intent='primary'
          class='mt-4'
          disabled={{not (or changeset.folder changeset.connectionString)}}
        >
          Add Source
        </Button>
      </ChangesetForm>
    {{else}}
      <Button
        @intent='primary'
        class='mt-4'
        {{on 'click' (set this.isAddSourceVisible true)}}
      >
        Add Source
      </Button>
    {{/if}}
  </m.Body>

  <m.Footer>
    <Button
      @appearance='minimal'
      class='mr-4'
      {{on 'click' (set this.isSyncSourceOpen false)}}
    >
      Close
    </Button>
  </m.Footer>
</Modal>