Config:
{{#if this.config}}
  Loaded
{{else}}
  Loading..
{{/if}}

<button type='button' {{on 'click' this.selectNewConfig}}>
  Select Config
</button>

<details>
  <summary>
    Config
  </summary>
  <pre class='text-xs'>
    <code>
      {{this.configString}}
    </code>
  </pre>
</details>

<ul>
  {{#each this.config.UploadActions as |uploadAction index|}}
    <li>
      {{index}}: {{uploadAction.ActionType}} action
      <br />
      <button type='button' {{on 'click' (fn this.runAction uploadAction)}}>
        Run Action
      </button>
    </li>
  {{/each}}
</ul>

{{yield}}