{{#if @config}}
  {{did-update this.onConfigUpdated @config}}
{{/if}}

<div class='mt-10 w-3/4 md:w-1/2 bg-white p-4 shadow-lg rounded-2xl'>
  <div class='flex justify-between items-start'>
    <div class='flex-1'>
      Config:
      {{#if @config}}
        Loaded. Updated At
        <br />
        {{this.configUpdated}}
      {{else}}
        Loading..
      {{/if}}
    </div>

    <ButtonWithMore @onClick={{set this.isScheduleModalOpen true}}>
      <:primary>
        Schedule
      </:primary>

      <:secondary as |s|>
        <ul>
          <li>
            <Button
              class={{s.classNames}}
              @appearance='minimal'
              {{on 'click' @selectNewConfig}}
            >
              Select New Config
            </Button>
          </li>
        </ul>
      </:secondary>
    </ButtonWithMore>

    {{!-- <Button
      @appearance='outlined'
      @isXSmall={{true}}
      {{on 'click' this.selectNewConfig}}
    >
      Select Config
    </Button> --}}
  </div>

  <details>
    <summary>
      Config
    </summary>
    <pre class='text-xs overflow-auto'>
      <code>
        {{this.configString}}
      </code>
    </pre>
  </details>
</div>

<div class='mt-8 w-3/4 md:w-1/2 bg-white p-4 shadow-lg rounded-2xl'>
  <ul>
    {{#each @config.UploadActions as |uploadAction index|}}
      <li class='flex flex-col'>
        <div class='flex justify-between items-start'>
          <div class='font-semibold'>
            {{index}}: {{uploadAction.ActionType}} action
          </div>

          <div class='flex'>
            <Button
              type='button'
              @appearance='outlined'
              @isXSmall={{true}}
              {{on 'click' (fn this.runAction uploadAction)}}
            >
              Run Action
            </Button>
          </div>
        </div>

        <code class='text-left text-sm'>
          {{uploadAction.Query}}
        </code>

        {{#if this.running}}
          <div class='text-sm text-gray-700'>
            Running..
          </div>
        {{else if this.status}}
          <details>
            <summary>
              Status
            </summary>
            <pre class='text-xs overflow-auto'>
              <code>
                {{this.statusString}}
              </code>
            </pre>
          </details>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>

{{yield}}

<Modal
  @isOpen={{this.isScheduleModalOpen}}
  @onClose={{set this.isScheduleModalOpen}} as |m|
>
  <m.Header>
    Schedule
  </m.Header>
  <form {{on 'submit' this.scheduleAction}}>
    <m.Body>
      <FormInput
        required={{true}}
        @value={{this.scheduleFormat}}
        @onChange={{set this.scheduleFormat}}
      />
      <pre class='text-xs'>
        *    *    *    *    *    *
        ┬    ┬    ┬    ┬    ┬    ┬
        │    │    │    │    │    │
        │    │    │    │    │    └ day of week (0 - 7) (0 or 7 is Sun)
        │    │    │    │    └───── month (1 - 12)
        │    │    │    └────────── day of month (1 - 31)
        │    │    └─────────────── hour (0 - 23)
        │    └──────────────────── minute (0 - 59)
        └───────────────────────── second (0 - 59, OPTIONAL)
      </pre>
    </m.Body>
    <m.Footer class='justify-between'>
      <Button
        @appearance='minimal'
        class='mr-4'
        {{on 'click' (set this.isScheduleModalOpen false)}}
      >
        Cancel
      </Button>
      <Button @type='submit' @intent='primary'>
        Start Schedule
      </Button>
    </m.Footer>
  </form>
</Modal>