<div class='flex flex-col items-center'>
  <div class='mt-32 w-3/4 md:w-1/2 bg-white p-4 shadow-lg rounded-2xl'>
    <div class='flex justify-between items-start'>
      <div class='flex-1'>
        <h2>
          Login
        </h2>

        <ChangesetForm
          class='mt-4'
          @changeset={{changeset (hash password='' email='')}}
          @onSubmit={{this.login}} as |Form changeset|
        >
          <Form.Input
            @label='Email'
            @type='email'
            @fieldName='email'
            placeholder='me@example.com'
            required={{true}}
            autocomplete='email'
            class='mt-2'
            data-test-login-email
          />
          <Form.Input
            @label='Password'
            @type='password'
            @fieldName='password'
            placeholder='**********'
            required={{true}}
            class='mt-2'
            data-test-login-password
          />

          <div class='flex justify-end mt-4'>
            <Button
              @type='submit'
              @intent='primary'
              disabled={{changeset.isInvalid}}
            >
              Login
            </Button>
          </div>
        </ChangesetForm>
      </div>
    </div>
  </div>
</div>