<li class='bg-white shadow-lg rounded-lg'>
  <div class='p-4 flex justify-between items-center'>
    <div>
      {{@rule.datasetId}}: {{@rule.mappingId}}
    </div>

    <Button
      @size='sm'
      @appearance='outlined'
      disabled={{this.runRule.isRunning}}
      {{on 'click' (perform this.runRule @rule)}}
    >
      {{#if this.runRule.isRunning}}
        Running..
      {{else}}
        Run
      {{/if}}
    </Button>
  </div>
</li>