<li class='bg-white shadow-lg rounded-lg' ...attributes>
  <div class='p-4 flex justify-between items-center'>
    <div>
      {{@rule.name}}

      <Source::Card class='text-sm' @source={{this.source}} />
    </div>

    <div class='space-x-2'>
      <Button
        @size='sm'
        @appearance='outlined'
        disabled={{this.runRule.isRunning}}
        {{on 'click' (perform this.runRule @rule)}}
      >
        {{#if this.runRule.isRunning}}
          Running..
        {{else}}
          Run
        {{/if}}
      </Button>

      <Button
        @size='sm'
        @appearance='outlined'
        {{on 'click' (fn @onEdit @rule)}}
      >
        <FaIcon @icon='pen' />
      </Button>
    </div>
  </div>
</li>