<li class='bg-white shadow-lg rounded-lg'>
  <div class='p-4 flex justify-between items-center'>
    <div>
      {{@rule.datasetId}}: {{@rule.mappingId}}

      <div class='flex items-center space-x-2 text-gray-600 text-sm'>
        {{#if (eq this.source.sourceType 'database')}}
          <FaIcon @icon='database' />
        {{else if (eq this.source.sourceType 'file')}}
          <FaIcon @icon='file' />
        {{/if}}

        <div>
          {{this.source.name}}
          ({{this.source.databaseType}})
        </div>
      </div>
    </div>

    <div class='space-x-2'>
      <Button
        @size='sm'
        @appearance='outlined'
        disabled={{this.runRule.isRunning}}
        {{on 'click' (perform this.runRule @rule)}}
      >
        {{#if this.runRule.isRunning}}
          Running..
        {{else}}
          Run
        {{/if}}
      </Button>

      <Button
        @size='sm'
        @appearance='outlined'
        {{on 'click' (fn @onEdit @rule)}}
      >
        <FaIcon @icon='pen' />
      </Button>
    </div>
  </div>
</li>