<li class='bg-white shadow-lg rounded-lg' ...attributes>
  <div class='p-4 flex justify-between items-center'>
    <div class='space-y-4'>
      <div>
        {{@rule.name}}
      </div>

      <div class='flex space-x-2'>
        <Source::Card class='text-sm' @source={{this.source}} />
        {{#if this.state}}
          <div class='flex items-center space-x-1 text-sm text-gray-600'>
            <FaIcon @icon='clock' />
            <span>
              {{this.state.nextScheduledRun}}
            </span>
          </div>
        {{/if}}
      </div>
    </div>

    <div class='space-x-2'>
      <Button
        @size='sm'
        @appearance='outlined'
        disabled={{this.runRule.isRunning}}
        {{on 'click' (perform this.runRule @rule)}}
      >
        {{#if this.runRule.isRunning}}
          Running..
        {{else}}
          Run
        {{/if}}
      </Button>

      <Button
        @size='sm'
        @appearance='outlined'
        {{on 'click' (fn @onEdit @rule)}}
      >
        <FaIcon @icon='pen' />
      </Button>
    </div>
  </div>
</li>