<Modal @isOpen={{@isOpen}} @onClose={{@onClose}} as |m|>
  <m.Header>
    New Sync Rule
  </m.Header>

  <ChangesetForm
    @changeset={{changeset this.ruleInput}}
    @onSubmit={{this.createRule}} as |Form changeset|
  >
    <m.Body>
      <Form.Select
        @label='Dataset'
        @fieldName='dataset'
        @options={{@datasets}}
        @containerClass='mt-4' as |dataset|
      >
        {{dataset.name}}
      </Form.Select>

      {{#if changeset.dataset}}
        {{did-insert (perform this.findDataset changeset.dataset.id)}}

        {{#if this.findDataset.isRunning}}
          Loading dataset config..
        {{else if this.dataset}}
          <Form.Select
            @label='Mapping'
            @fieldName='mapping'
            @options={{this.mappings}}
            @containerClass='mt-4' as |mapping|
          >
            {{mapping.name}}
          </Form.Select>
        {{/if}}
      {{/if}}

      {{#if changeset.mapping}}
        <Form.Select
          @label='Source'
          @fieldName='source'
          @options={{@sources}}
          @containerClass='mt-4' as |source|
        >
          {{source.name}}
          {{#if (eq source.sourceType 'database')}}
            ({{source.sourceType}}: {{source.databaseType}})
          {{else}}
            ({{source.sourceType}})
          {{/if}}
        </Form.Select>
      {{/if}}

      {{#if changeset.source}}
        {{#if (eq changeset.source.sourceType 'database')}}
          <Form.Textarea
            @label='Select Statement'
            @hint='Select should return a the_geom column in the GeoJSON format'
            @fieldName='selectStatement'
            @containerClass='mt-4'
            placeholder='select *, ST_AsGeoJSON(geom) as the_geom from "sync-test"'
            rows='5'
          />
        {{else if (eq changeset.source.sourceType 'file')}}
          <Form.Input
            @label='File'
            @fieldName='file'
            @containerClass='mt-4'
            type='file'
          />
        {{/if}}
      {{/if}}
    </m.Body>

    <m.Footer class='flex justify-between'>
      <Button @appearance='minimal' class='mr-4' {{on 'click' @onClose}}>
        Cancel
      </Button>
      <Button @type='submit' @intent='primary'>
        Create Rule
      </Button>
    </m.Footer>
  </ChangesetForm>
</Modal>