<Modal @isOpen={{@isOpen}} @onClose={{@onClose}} as |m|>
  <m.Header>
    New Sync Rule
  </m.Header>

  <ChangesetForm
    @changeset={{changeset this.ruleInput}}
    @onSubmit={{this.createRule}} as |Form changeset|
  >
    <m.Body>
      <StepManager as |w|>
        <w.Step @name='dataset'>
          <Form.Input
            @label='Name'
            @hint='Optional; will be auto generated.'
            @fieldName='name'
            @containerClass='mt-4'
            placeholder='Properties Sync'
          />

          <Form.Select
            @label='Dataset'
            @fieldName='dataset'
            @options={{@datasets}}
            @onChange={{pipe
              (perform this.findDataset changeset.dataset.id)
              w.transition-to-next
            }}
            @containerClass='mt-4'
            @placeholder='Select A Dataset' as |dataset|
          >
            {{dataset.name}}
          </Form.Select>
        </w.Step>

        <w.Step @name='mapping'>
          {{#if changeset.dataset}}
            <Form.Input
              @label='Dataset'
              @fieldName='dataset.name'
              disabled={{true}}
            />
            {{!-- {{did-insert (perform this.findDataset changeset.dataset.id)}} --}}

            {{#if this.findDataset.isRunning}}
              Loading dataset config..
            {{else if this.dataset}}
              <Form.Select
                @label='Mapping'
                @fieldName='mapping'
                @options={{this.mappings}}
                @containerClass='mt-4'
                @placeholder='Select Table Mapping' as |mapping|
              >
                {{mapping.name}}
              </Form.Select>
            {{/if}}
          {{/if}}

          {{#if changeset.mapping}}
            <Form.Select
              @label='Source'
              @fieldName='source'
              @options={{@sources}}
              @containerClass='mt-4'
              @onChange={{w.transition-to-next}}
              @placeholder='Select Local Source' as |source|
            >
              <Source::Card class='p-2' @source={{source}} />
            </Form.Select>
          {{/if}}
        </w.Step>

        <w.Step @name='config'>
          {{#if changeset.source}}
            {{#if (eq changeset.source.sourceType 'database')}}
              <Form.Textarea
                @label='Select Statement'
                @hint='Select should return a the_geom column in the GeoJSON format'
                @fieldName='selectStatement'
                placeholder='select *, ST_AsGeoJSON(geom) as the_geom from "sync-test"'
                rows='5'
              />
            {{else if (eq changeset.source.sourceType 'file')}}
              <div class='flex space-x-2'>
                <Form.Input
                  @label='File'
                  @fieldName='file'
                  @size='sm'
                  @containerClass='flex-1'
                  disabled={{true}}
                />

                <Button
                  class='self-end'
                  @size='sm'
                  {{on
                    'click'
                    (pipe
                      (fn this.selectFile changeset.source.id)
                      (set changeset.file)
                    )
                  }}
                >
                  Browse Files
                </Button>
              </div>
            {{/if}}

            <Form.Checkbox
              @label='Send Notification Email'
              @hint='Will email to the logged in account on success/failure'
              @fieldName='sendNotificationEmail'
              @containerClass='mt-4'
              type='checkbox'
            />

            <Button
              @intent='primary'
              @appearance='outlined'
              class='mt-4'
              disabled={{not (this.stepAccessible 'schedule' changeset)}}
              {{on 'click' w.transition-to-next}}
            >
              Add Schedule
            </Button>
          {{/if}}
        </w.Step>

        <w.Step @name='schedule'>
          <Form.Select
            @label='Schedule Frequency'
            @fieldName='schedule.frequency'
            @options={{this.frequencies}}
            @containerClass='mt-4' as |frequency|
          >
            {{frequency}}
          </Form.Select>

          {{#if (eq changeset.schedule.frequency 'weekly')}}
            <Form.Select
              @label='Schedule Day'
              @fieldName='schedule.day'
              @options={{this.days}}
              @containerClass='mt-4' as |day|
            >
              {{this.dayFormat day}}
            </Form.Select>
          {{/if}}

          <Form.Select
            @label='Schedule Hour'
            @fieldName='schedule.hour'
            @hint='The job will run at a random point within the selected hour'
            @options={{this.hours}}
            @containerClass='mt-4' as |hour|
          >
            {{hour}}
          </Form.Select>
        </w.Step>

        <div class='flex justify-center mt-4 space-x-2'>
          {{#each w.steps as |step|}}
            <button
              type='button'
              class="rounded-full h-4 w-4 focus:outline-none


                {{if step.isActive 'bg-blue-500' 'bg-gray-300'}}"
              disabled={{not (this.stepAccessible step changeset)}}
              {{on 'click' (fn w.transition-to step)}}
            >
            </button>
          {{/each}}
        </div>
      </StepManager>
    </m.Body>

    <m.Footer class='flex justify-between'>
      <Button @appearance='minimal' class='mr-4' {{on 'click' @onClose}}>
        Cancel
      </Button>
      <Button @type='submit' @intent='primary'>
        Create Rule
      </Button>
    </m.Footer>
  </ChangesetForm>
</Modal>