<Modal @isOpen={{@isOpen}} @onClose={{@onClose}} as |m|>
  <m.Header>
    Sync Sources
  </m.Header>

  <m.Body>
    <ul class='grid grid-cols-1 gap-2'>
      {{#each @sources as |source|}}
        <li class='bg-white shadow-lg rounded-lg p-4'>
          <Source::Card
            @source={{source}}
            @onDelete={{fn this.removeSource source}}
          />
        </li>
      {{/each}}
    </ul>

    <hr />

    {{#if this.isAddSourceVisible}}
      <ChangesetForm
        class='mt-4'
        @changeset={{changeset (hash)}}
        @onSubmit={{this.createSource}} as |Form changeset|
      >
        <Form.Input
          @label='Name'
          @fieldName='name'
          @containerClass='mt-4'
          placeholder='Test Database'
        />

        <Form.RadioGroup
          @fieldName='sourceType'
          @label='Source Type'
          @containerClass='mt-4' as |Radio|
        >
          <Radio @label='Database' @value='database' />
          <Radio @label='File' @value='file' />
        </Form.RadioGroup>

        {{#if (eq changeset.sourceType 'database')}}
          <Form.Select
            @label='Database Type'
            @fieldName='databaseType'
            @options={{this.databaseTypes}}
            @containerClass='mt-4' as |db|
          >
            {{db}}
          </Form.Select>

          {{#if changeset.databaseType}}
            <Form.Input
              @label='Connection String'
              @fieldName='connectionString'
              @containerClass='mt-4'
              placeholder='host=HOST port=5432 dbname=YOUR_DB connect_timeout=10'
            />

            <div class='flex justify-end mt-4'>
              <Button
                disabled={{or
                  (not changeset.connectionString)
                  this.testConnection.isRunning
                }}
                {{on 'click' (perform this.testConnection changeset)}}
              >
                {{#if this.testConnection.isRunning}}
                  <Spinner />
                  Testing..
                {{else}}
                  Test Connection
                {{/if}}
              </Button>
            </div>

            {{#if this.testConnection.last.isFinished}}
              <div class='mt-4'>
                {{#if this.testConnection.last.isError}}
                  <code class='text-red-700'>
                    {{this.testConnection.last.error}}
                  </code>
                {{else if this.testConnection.last.value}}
                  <p class='text-green-700'>
                    Connected successfully.
                  </p>
                {{else}}
                  <p class='text-red-700'>
                    Connection failed for unknown reason.
                  </p>
                {{/if}}
              </div>
            {{/if}}
          {{/if}}
        {{else if (eq changeset.sourceType 'file')}}
          <div class='mt-4 flex space-x-2'>
            <Form.Input
              @label='Base Folder'
              @fieldName='folder'
              @size='sm'
              @containerClass='flex-1'
              disabled={{true}}
            />

            <Button
              class='self-end'
              @size='sm'
              {{on 'click' (pipe this.selectFolder (set changeset.folder))}}
            >
              Browse Folders
            </Button>
          </div>
        {{/if}}

        <div class='mt-4'>
          <Button
            @type='submit'
            @intent='primary'
            disabled={{not (or changeset.folder changeset.connectionString)}}
          >
            Add Source
          </Button>
        </div>
      </ChangesetForm>
    {{else}}
      <Button
        @intent='primary'
        class='mt-4'
        {{on 'click' (set this.isAddSourceVisible true)}}
      >
        Add Source
      </Button>
    {{/if}}
  </m.Body>

  <m.Footer>
    <Button @appearance='minimal' class='mr-4' {{on 'click' @onClose}}>
      Close
    </Button>
  </m.Footer>
</Modal>